<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <title>List Products</title>
</head>
<body>
<div class="container col-7">
    <h2>Product management</h2>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        <tr th:each="product:${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.amount}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
    <a class="btn btn-danger" href="/">Logout</a>
</div>
</body>
</html>