<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <title>Login</title>
</head>
<body>
    <div class="container col-7">
        <h2>Login</h2>
        <div class="col-md-auto">

            <form th:object="${user}" th:action="login" method="post">
                <div class="form-group">
                    <label th:text="Username" th:for="username"></label>
                    <input type="text" class="form-control"
                           th:field="*{username}" placeholder="Please enter your username" required>
                    <small class="form-text text-muted">We'll never share your username with anyone else.</small>
                </div>
                <div class="form-group">
                    <label th:text="Password" th:for="password"></label>
                    <input type="password" class="form-control"
                           th:field="*{password}" placeholder="Please enter your password" required>
                </div>
                <button type="submit" class="btn btn-dark">Login</button>
            </form>
        </div>
        <div>
            <span style="color: red" th:text="${param.msg}"></span>
        </div>
    </div>
</body>
</html>